body {
    display: flex;
    background: #444;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    background: #f4f4f4;
    height: 100px;
    width: 100px;
    transition: 0.3s all ease;
}

.box:hover {
    background: steelblue;
    transform: rotate(45deg);
    /* transform: skew(10deg); */
    /* transform: scale(1.2); */
    /* transform: translate(20px, 20px); */
}