/* Menu Wrap*/
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Toggler */
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 0;
}

/* Hamburger */
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    /* padding: 0.7rem; */
    background: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hamburger Bars */
.hamburger .bar {
    position: relative;
    flex: none;

    background: #fff;
    margin: 4px 0;
    height: 6px;
    width: 36px;
    border-radius: 2px;
    transition: 0.3s;
}

/* Toggler Animation */
.toggler:checked + .hamburger .bar-1 {
    top: 14px;
    transform: rotate(135deg);
}

.toggler:checked + .hamburger .bar-2 {
    transform: rotate(45deg);
}

.toggler:checked + .hamburger .bar-3 {
    top: -14px;
    transform: rotate(135deg);
}