/* Menu Wrap*/
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* height: 100%;
    width: 100%; */
}

/* Toggler */
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    height: 50px;
    width: 50px;
    opacity: 0;
}

/* Hamburger */
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    /* padding: 0.7rem; */
    background: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Hamburger Bars */
.hamburger .bar {
    position: relative;
    flex: none;
    background: #fff;
    margin: 4px 0;
    height: 6px;
    width: 36px;
    border-radius: 2px;
    transition: 0.3s;
}

/* Toggler Animation */
.toggler:checked + .hamburger .bar-1 {
    top: 14px;
    transform: rotate(135deg);
}

.toggler:checked + .hamburger .bar-2 {
    transform: rotate(45deg);
}

.toggler:checked + .hamburger .bar-3 {
    top: -14px;
    transform: rotate(135deg);
}

/* Menu */
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.menu-wrap .menu > div {
    background: var(--secondary-clr);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(0);
    border-radius: 50%;
    transition: 0.5s all ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 70vw;
    max-height: 70vh;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu-wrap .menu > div > div > ul > li {
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: #fff;
    transition: color 0.2s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--hover-clr);
}

/* Showing the menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    border-radius: 0%;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
}