@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    font-family: Segoe UI, cursive;
}

a {
    text-decoration: none;
    color: #fff;
}

.golden {
    color: #C9A665;  /*#E3B665  lighter*/
}

.nav-menu {
    background-color: #333;
}

.list {
    list-style: none;
    font-size: 1.4rem;
    /* overflow: auto; */
}

/* .nav-menu .list .list__item {
    display: inline;
    float: right;
} */

#logo {
    float: left;
}

.nav-menu .list .list__item a {
    padding: 50px 30px;
    text-transform: uppercase;
}

