/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: #f4f4f4;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* Utility Classes */
.container {
    max-width: 960px;
    margin: auto;
    padding: 1rem 2rem;
    overflow: hidden;
}

.l-heading {
    font-size: 3rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    background-color: #ff3535;
    color: #fff;
    font-size: 1rem;
    padding: 0.78rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s all ease;
}

.btn:hover {
    transform: scale(1.1);
}

/*
    Navbar
*/
#navbar {
    background: #ddd;
    z-index: 1;
}

#navbar ul li {
    color: #333;
    display: inline-block;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

#navbar ul li a {
    color: #333;
}

/* Hide Nested lists by default */
#navbar ul li ul {
    display: none;
}

/* Hover State */
#navbar ul li:hover {
    background: coral;
    color: #fff;
}

#navbar ul li:hover a {
    color: #fff;
}

/* Showing Nested lists */
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 230px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    display: block;
    background: #e7e7e7;
}

#navbar ul li:hover ul a {
    color: #333;
}

#navbar ul li ul li:hover {
    background: #999;
}

#navbar ul li:hover ul li span {
    float: right;
    background: coral;
    padding: 0 2px;
    font-size: 0.9rem;
    border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
    background: #ff3535;
    color: #fff;
}

/*
    Showcase
*/
#showcase {
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}

#showcase::before {
    content: '';
    background: url('../img/pexels-picjumbocom-196644.jpg') no-repeat
    center center/cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#showcase .showcase-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#showcase .showcase-container .subscribe {
    margin-bottom: 1rem;
}

#showcase .showcase-container .subscribe input {
    display: inline-block;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    margin: 0.6rem 1rem;
}

/* Small Screens */
@media (max-width: 600px) {
    /* Navbar*/
    #navbar ul li {
        display: block;
        overflow: hidden;
    }

    #navbar ul li:hover ul {
        position: relative;
        width: 100vw;
        left: -1rem;
        top: 1rem;
    }

    #navbar ul li:hover ul li span {
        position: absolute;
        right: 2rem;
    }

    /* Showcase */
    #showcase {
        height: 80vh;
    }
    #showcase .l-heading {
        font-size: 2rem;
    }

    #showcase .showcase-container .subscribe {
        display: flex;
        flex-direction: column;
    }

    #showcase .showcase-container .subscribe input {
        margin: 0;
    }
}